body {
  margin: 0;
  padding: 0;
}

nav {
  background: #33ef;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  font-family: cursive;
}

#error-div {
  display: none;
}

.loading {
  display: flex;
  width: fit-content;
  margin: auto;

  span {
    height: 20px;
    width: 20px;
    background: blue;
    margin: 5px;
    animation-name: load1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #ddd;
  }
}

.output {
  margin: auto;
  position: relative;
}

video,
canvas {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
}

.fps {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgb(240, 240, 240);
  padding: 10px;
  position: relative;
}

footer {
  background: #eee;
  margin-top: 2vh;
  text-align: center;
  padding: 20px;
}

@keyframes load1 {
  0% {
    background-color: rgb(255, 217, 0);
    transform: scale(0.5);
  }
  50% {
    background-color: #33ef;
    transform: scale(1);
  }
}
